.container{
    background-color: rgb(176, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border-radius: 15px;
}
 
.button{
    border-radius: 6px;
}
